// Overwirte default variables
$primary: #6d3e5d; //cosmic
$secondary: #c86966; // contessa
$dark: #29282b;
$light: #e6e7e1;
$success: #0fa;
$info: #555;
$warning: #e4b123;
$danger: #f17a89;

// Import bootstrap styles at the bottom
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

$custom-font-size-default: 1.6rem;
$custom-font-size-xl: 6rem;
$custom-font-size-lg: 3.6rem;
$custom-font-size-md: 2.4rem;
$custom-font-size-sm: 1.2rem;
$custom-font-size-xs: 0.8rem;

// ====================
// CORE STRUCTURE
// ====================

// html {
//   font-size: 62.5%;
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dongle', sans-serif;
  font-size: $custom-font-size-default;
}

main {
  min-height: 85vh;
}

footer {
  font-size: $custom-font-size-default;
}

h1 {
  font-size: $custom-font-size-xl;
  font-weight: 700;
}
h2 {
  font-size: $custom-font-size-lg;
  font-weight: 700;
}
h3 {
  font-size: $custom-font-size-md;
  font-weight: 500;
}
h4 {
  font-size: $custom-font-size-default;
  font-weight: 500;
}
h5 {
  font-size: $custom-font-size-sm;
  font-weight: 300;
}

.nav-custom {
  font-size: $custom-font-size-default;
}

.nav-custom__brand {
  font-size: $custom-font-size-lg;
}

.form-control {
  font-size: $custom-font-size-sm;
  opacity: 0.6;
}

.dropdown-item {
  font-size: $custom-font-size-sm;
}

.toast {
  font-size: $custom-font-size-sm;
}

// ====================
// HOMEPAGE: SECTIONS
// ====================

.home-section {
  padding: 4rem 1.2rem;

  &-intro {
    background: $secondary;
  }
  &-portfolio {
    background: $light;
  }
  &-skill {
    background: $warning;
  }
}

.home-section-image {
  width: 50%;
  opacity: 0.8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.home-body {
  @media screen and (min-width: 768px) {
    margin-left: 1.2rem;
  }
}

// ====================
// SECTIONS
// ====================

.banner-box {
  height: 18vh;
  margin-bottom: 5rem;
}

// ====================
// ELEMENTS
// ==================

.heading-style2-primary {
  font-size: $custom-font-size-lg;
}

.heading-style2-text {
  font-size: $custom-font-size-default;
  font-weight: 300;
}

// ACCORDION

.accordion-button {
  font-size: $custom-font-size-default;
}

.accordion-body {
  font-size: $custom-font-size-default;
  font-weight: 300;
}

// BADGE

.badge-custom {
  position: absolute;
  right: 5rem;
  min-width: 4.5rem;
  font-size: custom-font-size-xs;
}

// BUTTONS
.btn {
  font-size: $custom-font-size-sm;
}

// FLEX CUSTOM

.container {
  @media screen and (min-width: 768px) {
    width: 75vw;
  }
}

.row {
  --bs-gutter-x: 0.4rem;
  --bs-gutter-y: 0.4rem;
}
