// Overwirte default variables
$primary: #6d3e5d; //cosmic
$secondary: #e7717d; // contessa
$dark: #29282b;
$light: #f2f2f2;
$success: #afd275;
$info: #a8d0e6;
$warning: #e4b123;
$danger: #f17a89;
$white: #fff;

// Import bootstrap styles at the bottom
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

$custom-font-size-default: 1.6rem;
$custom-font-size-xxl: 6rem;
$custom-font-size-xl: 4.8rem;
$custom-font-size-lg: 3.6rem;
$custom-font-size-mdl: 2.4rem;
$custom-font-size-mds: 1.8rem;
$custom-font-size-sm: 1.2rem;
$custom-font-size-xs: 1rem;

$default-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

// ====================
// CORE STRUCTURE
// ====================

// html {
//   font-size: 62.5%;
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
  font-family: 'Dongle', sans-serif;
  font-size: $custom-font-size-default;
}

main {
  min-height: 85vh;
}

footer {
  min-height: 10vh;
  padding: 2.4rem 0;
  font-size: $custom-font-size-default;
}

h1 {
  font-size: $custom-font-size-xl;
  font-weight: 700;
}
h2 {
  font-size: $custom-font-size-lg;
  font-weight: 700;
}
h3 {
  font-size: $custom-font-size-mdl;
  font-weight: 500;
}
h4 {
  font-size: $custom-font-size-mds;
  font-weight: 500;
}

h5 {
  font-size: $custom-font-size-default;
  font-weight: 300;
}

p {
  font-size: $custom-font-size-sm;
  font-weight: 300;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: $black;
  }
  &:hover,
  &:active {
    color: $primary;
  }
}

.nav-custom {
  font-size: $custom-font-size-default;
  padding: 0 3.6rem 0;

  &-brand {
    font-size: $custom-font-size-lg;
  }
}

.nav-link {
  color: $dark;

  &:hover {
    color: $white;
  }
}

.nav-pills .nav-link.active {
  background-color: $white;
  color: $dark;
}

.form-control {
  font-size: $custom-font-size-sm;
  opacity: 0.6;
}

.dropdown-item {
  font-size: $custom-font-size-sm;
}

.btn-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast {
  font-size: $custom-font-size-sm;
}

// ====================
// HOMEPAGE: SECTIONS
// ====================

.home-section-contact {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  left: 3.6rem;

  & > * {
    transition-duration: 3s;
    transition: 1.5s;

    &:hover {
      transform: translateY(-5px);
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.home-section {
  padding: 4.8rem 1.2rem;

  &-intro {
    background: $white;
  }
  &-background {
    background: $dark;
    color: $light;
  }
  &-portfolio {
    background: $warning;
  }
  &-certificate {
    background: $success;
  }
  &-skill {
    background: $light;
  }

  @media screen and (min-width: 768px) {
    padding: 4.8rem 6rem;
    margin-right: 0;
  }
}

.home-section-contents {
  & > h2,
  h3 {
    text-align: center;
  }
  & > h4 {
    text-align: center;
    margin: 0 auto;
    width: 85%;
  }
}

// ====================
// SECTIONS
// ====================

// All pages
.banner-box {
  min-height: 18rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media screen and (min-width: 768px) {
    min-height: 20vh;
  }
}

// HomePage
.home-background-image {
  opacity: 0.8;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 10px;
  box-shadow: $default-box-shadow;

  @media screen and (min-width: 1024px) {
    width: 55%;
  }
}

.home-background-textbox {
  padding: 1.6rem;
  border: 1px solid $white;
  border-radius: 8px;
  color: $light;
  background-color: $dark;

  @media screen and (min-width: 768px) {
    max-width: 30rem;
  }
  @media screen and (min-width: 1024px) {
    margin-left: -2.4rem;
    width: 50rem;
  }
}

// PortfolioPage
.card .card-portfolio {
  box-shadow: $default-box-shadow;
  transition-duration: 2s;
  transition: 1s;
  text-decoration: none;

  & > a {
    text-decoration: none;

    &:link,
    &:visited {
      color: $dark;
    }
    &:hover,
    &:active {
      color: $primary;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }

  &-img {
    @media screen and (min-width: 768px) {
      min-height: 10rem;
    }
    @media screen and (min-width: 1024px) {
      min-height: 14rem;
    }
    @media screen and (min-width: 1440px) {
      min-height: 18rem;
    }
    @media screen and (min-width: 2560px) {
      min-height: 22rem;
    }
  }

  &-body {
    @media screen and (min-width: 768px) {
      min-height: 20rem;
    }
    @media screen and (min-width: 1024px) {
      min-height: 16rem;
    }
    // @media screen and (min-width: 1440px) {
    //   min-height: 16rem;
    // }
    @media screen and (min-width: 2560px) {
      min-height: 12rem;
    }
  }
}

// BlogPage
.card .card-blog {
  box-shadow: $default-box-shadow;
  transition-duration: 2s;
  transition: 1s;
  text-decoration: none;

  &:hover {
    transform: translateY(-5px);
  }

  &-img {
    @media screen and (min-width: 1024px) {
      min-height: 6rem;
    }
    @media screen and (min-width: 1440px) {
      min-height: 10rem;
    }
    @media screen and (min-width: 2560px) {
      min-height: 14rem;
    }
  }

  &-body {
    @media screen and (min-width: 1024px) {
      min-height: 12rem;
    }
    @media screen and (min-width: 1440px) {
      min-height: 16rem;
    }
    @media screen and (min-width: 2560px) {
      min-height: 20rem;
    }
  }
}

.list-group-item {
  border-radius: 10px;
  transition-duration: 2s;
  transition: 0.5s;
  font-weight: 300;

  &:hover {
    transform: scale(1.02);
    background-color: $light;
  }
}

// ====================
// ELEMENTS
// ==================

// ALL
.heading-style2-primary {
  font-size: $custom-font-size-lg;
}

.heading-style2-text {
  font-size: $custom-font-size-default;
  font-weight: 300;
}

// LIST GROUP
.list-group {
  border-radius: 10px;

  & > * {
    margin-top: 0.4rem;
  }
}

// ACCORDION
.accordion-button {
  font-size: $custom-font-size-default;
}

.accordion-body {
  font-size: $custom-font-size-default;
  font-weight: 300;
}

// BADGE
.badge-custom {
  position: absolute;
  right: 5rem;
  min-width: 4.5rem;
  font-size: $custom-font-size-xs;
}

// BUTTONS
.btn {
  font-size: $custom-font-size-sm;
  box-shadow: $default-box-shadow;
  transition-duration: 2s;
  transition: 1.5s;

  &:hover {
    letter-spacing: 1.2px;
  }
}

// CALENDAR
.react-date-picker {
  font-family: 'Dongle', sans-serif;
  font-weight: 300;
  font-size: $custom-font-size-sm;
  text-align: center;
  margin-left: 3.6rem;
}

// FLEX CUSTOM

.container {
  @media screen and (min-width: 768px) {
    max-width: 85vw;
  }
  @media screen and (min-width: 1024px) {
    max-width: 75vw;
  }
  @media screen and (min-width: 1440px) {
    max-width: 65vw;
  }
  @media screen and (min-width: 2560px) {
    max-width: 55vw;
  }
}

.row {
  --bs-gutter-x: 0.4rem;
  --bs-gutter-y: 0.4rem;
}
