// Overwirte default variables
$primary: #6d3e5d; //cosmic
$secondary: #c86966; // contessa
$dark: #29282b;
$light: #e6e7e1;
$success: #0fa;
$info: #555;
$warning: #e4b123;
$danger: #f17a89;

// Import bootstrap styles at the bottom
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

$custom-font-size-default: 1.6rem;
$custom-font-size-xl: 6rem;
$custom-font-size-lg: 3.6rem;
$custom-font-size-md: 2.4rem;
$custom-font-size-sm: 1.2rem;
$custom-font-size-xs: 0.8rem;

$custom-padding-lg: 12rem;
$custom-padding-md: 8rem;
$custom-padding-sm: 4rem;

// ====================
// CORE STRUCTURE
// ====================

// html {
//   font-size: 62.5%;
// }

body {
  font-family: 'Dongle', sans-serif;
  font-size: $custom-font-size-default;
}

main {
  min-height: 85vh;
}

footer {
  font-size: $custom-font-size-default;
}

.nav-custom {
  font-size: $custom-font-size-default;
}

.nav-custom__brand {
  font-size: $custom-font-size-lg;
}

// ====================
// HOMEPAGE: SECTIONS
// ====================

.home-section-intro {
  padding: $custom-padding-md;
  font-size: $custom-font-size-md;
}

.home-section-background {
  background: $secondary;
  padding: $custom-padding-md;
}

.home-section-portfolio {
  background: $light;
  padding: $custom-padding-md;
}

.home-section-skill {
  background: $warning;
  padding: $custom-padding-md;
}

// ====================
// SECTIONS
// ====================

.banner-section {
  min-height: 18vh;
  margin-bottom: 2.4rem;
}

// .contact-section-email {
//   margin-top: 3.6rem;
// }

// ====================
// ELEMENTS
// ==================

.heading-style1-primary {
  font-size: $custom-font-size-xl;
  font-weight: 700;
}

.heading-style1-secondary {
  font-size: $custom-font-size-lg;
  font-weight: 500;
  margin-top: -1.6rem;
}

.heading-style2-primary {
  font-size: $custom-font-size-lg;
  font-weight: 700;
}

.heading-style2-secondary {
  font-size: $custom-font-size-md;
  font-weight: 500;
}

.heading-style2-text {
  font-size: $custom-font-size-sm;
  font-weight: 300;
}
